---
 const personalImageAlt = "Guillermo"
---

<article class="flex flex-col items-center justify-center gap-8 mb-4 text-base font-normal text-white-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-300/90 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        I am an electronics engineering student focused on developing programming skills. <strong
        >Solid experience in programming languages such as C++, Python, and MATLAB</strong
      >.
    </p>

    <p>
        During my education, I have worked as a <strong>Development and Research Engineer at the University of Guadalajara </strong>where I have applied my knowledge to effectively tackle and solve technical challenges. My professional goal is to develop innovative technologies that revolutionize the industry.
    </p>

    <p>
        I hold an <strong> EFSET English Certificate at the B2 (Upper Intermediate) </strong> level which complements my technical expertise with communication skills in a second language. </strong
      >My proactive approach and ability to work in a team allow me to face challenges with resilience and seek effective solutions.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>