---
import '@fontsource-variable/jetbrains-mono'
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string
	description:string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: "JetBrains Mono Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		background-image: linear-gradient(to bottom, #000000, #0b090a, #111114, #15171a, #171d1f);
		flex-direction: column;
		min-height: 100vh;
		
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
